body {
	color: rgb(0,0,0);
	}
.main-navigation {
font-style: serif;
font-weight: bold;
font-size: 14px;
font-weight: 26px;
font-family: PT Sans;
height: 100px;
}
.main-navigation li{
display: inline;
margin-right: 6%;
margin-left: 6%;
width: 20%;

}
.about {
font-style: serif;
font-weight: bold;
font-size: 21px;
font-weight: 26px;
font-family: PT Sans;	
}
.about p {
font-style: normal;
font-weight: lighter;
font-size: 14px;
font-weight: 26px;
font-family: PT Sans;	
}
.fact-one {
font-style: serif;
font-weight: bold;
font-size: 14px;
font-weight: 21px;
font-family: PT Sans;
}
.fact-one h2{
font-style: serif;
font-weight: bold;
font-size: 21px;
font-weight: 26px;
font-family: PT Sans;
}
.menu  {
display: inline;
margin-right: 6%;
margin-left: 6%;
width: 20%;
}