body {
	width: 100%;
	max-width: 1200px;
	min-width: 768px;
	margin: 0 auto;
	margin-right: 6%;
	margin-left: 6%;
	font-size: 14px;
	font-style: serif;
	text-transform: uppercase;
	font-family: 'PT Sans', sans-serif;
	background: grey url('/img/back.jpg');
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


* {
	margin: 0 auto;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.main-navigation {
	font-weight: bold;
	width: 100%;
	height: 79px;
}

.main-navigation li {
	display: inline-block; 
	width: 20%;
	text-align: left;
		list-style: none;

}
.main-navigation a{
	list-style: none;
}

.main-navigation li:nth-child(3) {
	width: 8%;
}

.main-navigation li:nth-child(4) {
	text-align: right;
}

.main-navigation li:nth-child(5) {
	text-align: right;
}

.menu {
	background: url('/img/hill-catalog.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 217px;
	color: white;
}

.plus,
.hotels {
	float: left;
	width: 15%;
	padding-top:3%;
	margin-right: 12.1%;
	line-height: 40px;
}

.plus {
	padding-left: 6%;
}

.price{
	float:right;
	width: 29.5%;
	margin-right: 6%;
	padding-top:3%;
	padding-bottom: 3%;
  padding-right: 6%;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.results-top {
	display: inline-block;
	width: 100%;
	height: 88px;
	text-align: left;
	padding-top: 1%;
}


.results-top h2, b {
	display: inline-block;
	float: left;
	width: 15%;
	text-align: center;
}

.second-navigation li {
	float: left;
	display: inline-block;
	width: 10.9%;
	text-align: center;
}

.results-bot {
	padding-top: 3.3%;
}

.amara-img,
.desert-img,
.villas-img {
	float: left;
	width: 20%;
	margin-top: 3.3%;
}

.clearfix:after {
	display: table;
	content: "";
	clear: both;
}

.about {
	text-align: center;	
	height: 214px;
	padding-top: 2.2%;
	padding-bottom: 2.1%;
}

.about h2 {
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
	padding-top: 1%;
}

.fact-one {
	margin-top: 2.2%;
}

.real-town {
	float: left;
	width: 33%;
	text-align: center;
	padding-right: 1%;
	padding-top: 1.8%;
	padding-left: 4.8%;
}

.real-town {
	height: 256px;
	background: url('/img/fon-fact-1.png');
} 

.real-town p{
	font-size: 14px;
	line-height: 21px;
}

.real-town span {
	line-height: 120px;
}


.real-town-img {
	float: right;
	width: 67%;
}

.advantage-one {
	padding-top: 2.3%;
	height: 332px;
	padding-bottom: 2.5%;
}

.home, 
.food {
	float:left;
	width: 33%;
	text-align: center;
}

.presents {
	float: right;
	width: 33%;
	text-align: center;
}

.fact-two {
	margin-top: 2.5%;
	height: 256px;
	background: url('/img/fon-fact-1.png');
}

.bridge-img {
	float: left;
	width: 67%;
}

.bridge {
	float: right;
	width: 33%;
	text-align: center;
	padding-top: 1.8%;
}

.bridge p{
	font-size: 14px;
	line-height: 21px;
}

.bridge span {
	line-height: 150px;
}

.advantage-two {
	padding-top: 1.8%;
	padding-bottom: 1.6%;
	background: url('/img/facts345.png');
	height: 256px;
}

.fact-three, 
.fact-four {
	float:left;
	width: 33%;
	text-align: center;
	line-height: 50px;
	}

.fact-five {
	float: right;
	width: 33%;
	text-align: center;
	line-height: 50px;
}

.interest {
	padding-top: 2.2%;
	text-align: center;
	height: 292px;
}

.main-footer {
	text-align: center;
	width: 100%;
	padding-top: 5.1%;
	padding-bottom: 5.1%;
}

.map {
	position: relative;
	width: 100%;

}

.dates {
	position: absolute;
	text-align: center;
	width: 74%;
	height: 481px;
	margin-top:-15%;
	margin-left: 13%;
	background: url('/img/fon-search.png')  no-repeat;
	background-size: cover;
}

.dates h3 {
	background: url('/img/braun-line.png');
	height: 84px;
	width: 96%;
	padding-top: 34px;
}

.dates form {
	padding-top: 3.3%;
}

.dates input{
	margin-left: 2.5%;
	padding-left: 2.6%;
	width: 44.8%;
	height: 1.5%;
}

#humans {
	width: 5.2%;
	height: 1.3%;
	padding: 0;
	width: 2.9%;
}

#child {
	width: 2.9%;
	height: 1.3%;
}

.main-footer {
	position: relative;
	top: 0px;
	background: url('/img/footer.png');
	height: 122px;
}

.foot,
.contacts  {
	float: left;
	width: 33%;
}

.footer-copyright {
	float: right;
	width: 33%;
}

